* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 85px);
}

.container div:nth-child(odd) {
    background-color: black;
}

.container-two {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 85px);
}

.container-two div:nth-child(even) {
    background-color: black;
}


.box {
    display: flex;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    color: aliceblue;
}